
/* Section principale - grille des services */
body{
    height:100% ;
    width:100%;
    background-image:url("C:/Users/hp/Downloads/site.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin: 0;
}


header {
    background-color:rgb(121, 179, 123);
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}
.ensemble{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}


.Departements {
    background-color:rgb(121, 179, 123);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
   transition: transform 0.5s ease-in-out;
}

.Departements:hover {
    transform: scale(1.05);
}

.Departements img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.Departements a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.Departements a:hover {
    color:red;
}

/* partie en savoir plus */

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(111, 158, 133);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



ul {
    list-style: none;
}


form {
    background: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    width: 200px;
}
input[type="submit"] {
    background:rgb(111, 158, 133); 
    color: white; 
    border: none; 
    cursor: pointer; 
}

footer {
    background-color:#1e6d2a;
    color: #fff; 
    text-align: center;
    padding: 10px 0;
     
}


